
/* BOTONES MVP */

.mvp-button{
  color: white;
  border-radius: 12px;
  border: 2px solid white;
}

.card{
  color: white;
}

.carousel>.card-body{
  text-align: center;
}

.carousel>img{
  width: 96%;
  height: 320px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}