<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../view/css/css_boostrap/bootstrap.css">
    <link rel="stylesheet" href="../view/css/css_boostrap/bootstrap-grid.css">
    <link rel="stylesheet" href="../view/css/equipos.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="logo" src="../view/img/escudo_APC.png" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/index.html"><b>INICIO</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>GALERIA</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>TOP 5 JUGADORES</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>TIENDA</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <table>


    </table>
</body>

<script src="../view/js/jquery.js"></script>
<script src="../view/js/js_bootstrap/bootstrap.js"></script>
<script src="../view/js/equipos.js"></script>

</html>